body {
  background: black;
  margin: auto;
  padding: inherit;
}
h1 {
  color:red;
  text-align: center;
}
iframe {
  padding-left: 26%;
}

h2 {
  text-align: center;
  color: white;
}

div.container4 {
 background-color: white;
  color: black;
  height: 6em;
  position: relative;
}

p.blocktext {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 26em;
  overflow: hidden;
}
