body {
  background: black;
  margin: auto;
  padding: inherit;
}
h1 {
  color:red;
  text-align: center;
}
iframe {
  padding-left: 26%;
}

h2 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  height: : 10px;
  padding: 20px
}

div.container4 p {
  margin: 0;
  background: white;
  position: absolute;
  top: 90%;
  left: 50%;
  height: 50px;
  width: 500px;
  margin-right: 50%;
  transform: translate(-50%,-50%);
}
